/* topology */
#topology {  
    border: 1px solid #000000;  
}

.node {
}

.node.fixed {
    fill: #C0C0C0;
}

.node text {
    font-size: 14px;
}

.link {
    stroke: #090909;
    stroke-opacity: .6;
    stroke-width: 2px;
}

.port circle {
    stroke: black;
    fill: #C5F9F9;
}

.port text {
    font-size: 10px;
}

/* tool-tip bar graph */
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
