/* Side bar */
html, body {
    height: 100%;
}

#side-bar {
    width: 200px;
    border-right: 1px solid #000000;
    /* margin: 2px; */
    padding: 5px;
    /* height: 100%; */
    overflow: hidden;
    float: left;
}


#graph-panel {
  float: left;
  display: block;
  width: 300px;
  padding: 0px;
  margin:  0px;
}

#view-perf {
  padding: 5px;
}

#view-perf {
  padding: 5px;
}


h2 {
  margin: 2px;
}


#loading {
  display: block;
  border: 1px solid #000000;
  padding: 2px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  /* background: linear-gradient(90deg, black 5%, grey 15%); */
}

#specs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

#editmode {
  margin: 0px;
  margin-bottom: 5px;
  /* padding: 0px; */
}

/* .ul-title {
  font-weight: bold;
} */

#switch-input .adjustable {
  width: 100px;
}

/* topology */
#topology {  
    border: 1px solid #000000;  
}

.node {
}

.node.fixed {
    fill: #C0C0C0;
}

.node text {
    font-size: 14px;
}

.link {
    stroke: #090909;
    stroke-opacity: .6;
    stroke-width: 2px;
}

.port circle {
    stroke: black;
    fill: #C5F9F9;
}

.port text {
    font-size: 10px;
}

body {
  font: 10px sans-serif;
}


.graph {
  /* height: 250; */
  width: 300px;
}

.bar {
  fill: steelblue;
}

.live {
  fill: steelblue;
}

.bar-adj {
  fill: YellowGreen; /* OrangeRed */
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* .x.axis path { */
  